@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background: #262626;
  color: #fff;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

/* Header */
header {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3rem;
  background: rgba(50, 50, 50, 0.75);
  backdrop-filter: saturate(180%) blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  z-index: 1000;
}

nav {
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  font-size: 0.95rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

nav a:hover {
  background: rgb(64, 64, 64);
}

/* Sections */
main {
  max-width: 980px;
  margin: 0 auto;
  padding: 7rem 1.5rem 3rem;
}

section {
  margin: 6rem 0;
}

section h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fff;
}

/* Intro Header */
#home {
  padding: 3rem 1rem 2rem;
  scroll-margin-top: 0;
}

#home h2 {
  font-size: 3rem;
  font-weight: 700;
}

#home h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#home p {
  font-size: 1rem;
  color: #fff;
}

/* About */
#about h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

/* Work History */
#work {
  max-width: 980px;
  margin: 6rem auto;
}

#work h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #fff;
}

.timeline {
  position: relative;
  padding-left: 1rem;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4px;
  height: calc(100% - 1rem);
  background-color: #008080;
}

.timeline-item {
  position: relative;
  margin-bottom: 3rem;
}

.timeline-marker {
  position: absolute;
  top: 0.75rem; 
  left: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #008080;
  border-radius: 50%;
  border: 3px solid #fff;
  transform: translateX(-50%); 
  box-shadow: 0 0 0 3px #e6f2f9;
}

.timeline-content {
  margin-left: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background-color 0.2s ease;
}

.timeline-content:hover {
  background-color: #008080;
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}

.timeline-content h4 {
  margin: 0.2rem 0 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.timeline-content .job-meta {
  font-size: 0.95rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
}

.skills {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill-chip {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #333;
  background-color: #e0e0e0;
  border-radius: 9999px;
  transition: background-color 0.2s;
}

.skill-chip:hover {
  background-color: #cfcfcf;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
  justify-items: center;
  text-align: center;
}

.skills-grid img {
  width: 65px;
  height: 65px;
  margin-bottom: 0.5rem;
  transition: transform 0.2s ease;
}

.skills-grid img:hover {
  transform: scale(1.1);
}

.skills-grid p {
  font-size: 0.95rem;
  font-weight: 500;
  color: #fff;
}


/* Projects */
.projects-grid {
  color: #262626;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.projects-grid div {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem;
  text-align: left;
  transition: transform 0.2s ease
}

.projects-grid p {
  color: #262626;
}

.projects-grid div:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Contact */
#contact {
  text-align: center;
}

#contact a {
  display: inline-block;
  padding: 0.75rem 2rem;
  background: #0071e3;
  color: #fff;
  border-radius: 9999px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.2s ease;
}

#contact a:hover {
  background: #005bb5;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid rgba(0,0,0,0.1);
}